// Yapli Standard Colors.
:root {
  // Yapli Green
  --y-color-green-900: #005922;
  --y-color-green-800: #00722c;
  --y-color-green-700: #008c35;
  --y-color-green-600: #00a53f;
  --y-color-green-500: #27b35d;
  --y-color-green-400: #4fc17a;
  --y-color-green-300: #76cf98;
  --y-color-green-200: #9ddcb5;
  --y-color-green-100: #c4ead3;
  --y-color-green-000: #ecf8f0;

  // Yapli Blue
  --y-color-blue-900: #02316e;
  --y-color-blue-800: #02408d;
  --y-color-blue-700: #034ead;
  --y-color-blue-600: #035ccc;
  --y-color-blue-500: #2a75d4;
  --y-color-blue-400: #518edc;
  --y-color-blue-300: #77a7e4;
  --y-color-blue-200: #9ec0eb;
  --y-color-blue-100: #c5daf3;
  --y-color-blue-000: #ecf3fb;

  // Yapli Orange
  --y-color-orange-900: #893506;
  --y-color-orange-800: #b04508;
  --y-color-orange-700: #d85409;
  --y-color-orange-600: #ff630b;
  --y-color-orange-500: #ff7b31;
  --y-color-orange-400: #ff9356;
  --y-color-orange-300: #ffab7c;
  --y-color-orange-200: #ffc3a1;
  --y-color-orange-100: #ffdbc7;
  --y-color-orange-000: #fff3ec;

  // Yapli Greys
  --y-color-grey-900: #060606;
  --y-color-grey-800: #262626;
  --y-color-grey-700: #464646;
  --y-color-grey-600: #656565;
  --y-color-grey-500: #858585;
  --y-color-grey-400: #a2a2a2;
  --y-color-grey-300: #bfbfbf;
  --y-color-grey-200: #dcdcdc;
  --y-color-grey-100: #f9f9f9;

  // Yapli Blacks
  --y-color-black-400: #000000;
  --y-color-black-300: #060606;
  --y-color-black-200: #0d0d0d;
  --y-color-black-100: #131313;

  // Yapli Whites
  --y-color-white-400: #ffffff;
  --y-color-white-300: #f9f9f9;
  --y-color-white-200: #f2f2f2;
  --y-color-white-100: #ececec;

  // Yapli Error
  --y-color-error-400: #a81811;
  --y-color-error-300: #ff251a;
  --y-color-error-200: #ff7069;
  --y-color-error-100: #ffbbb7;

  // Yapli Warning
  --y-color-warning-400: #a88600;
  --y-color-warning-300: #ffcc00;
  --y-color-warning-200: #ffdd57;
  --y-color-warning-100: #ffefaf;
}
